$text-color: #282b30;
$menu-color: #303030;
$link-menu-color: #010101;
$button-color: #9153cc;
$menu-color: #8740c8;
$place-holder-color: #919191;
$categoties-text: #fbfafc;

$main-font: "Roboto";
$secondary-font: "Roboto Condensed";

$default-font-size: rem-calc(14);

$default-time: 0.5s;
